Repository dmitriyq/dnsanalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-hyperlocal, build-resolver, release-resolver, prepare-storage

.gitlab-ci.yml:

image: docker:stable
services:
  - docker:dind

stages:
  - build
  - release
  - prepare-storage
  - deploy

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2
  HYPERLOCAL_IMAGE: $CI_REGISTRY_IMAGE/hyperlocal:latest
  RESOLVER_TEST_IMAGE: $CI_REGISTRY_IMAGE/resolver:$CI_COMMIT_REF_SLUG
  RESOLVER_RELEASE_IMAGE: $CI_REGISTRY_IMAGE/resolver:latest

before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_USER_PASS $CI_REGISTRY

build-hyperlocal:
  stage: build
  script:
    - docker build --pull -t $HYPERLOCAL_IMAGE -f Hyperlocal/Dockerfile .
    - docker tag $HYPERLOCAL_IMAGE $HYPERLOCAL_IMAGE
    - docker push $HYPERLOCAL_IMAGE
  only:
    refs:
      - master
    changes:
      - Hyperlocal/*

build-resolver:
  stage: build
  script:
    - docker build --pull -t $RESOLVER_TEST_IMAGE -f Dns.Resolver/Dockerfile .
    - docker push $RESOLVER_TEST_IMAGE
  only:
    refs:
      - master
    changes:
      - Dns.Resolver/*


release-resolver:
  stage: release
  script:
    - docker pull $RESOLVER_TEST_IMAGE
    - docker tag $RESOLVER_TEST_IMAGE $RESOLVER_RELEASE_IMAGE
    - docker push $RESOLVER_RELEASE_IMAGE
  only:
    refs:
      - master
    changes:
      - Dns.Resolver/*

prepare-storage:
  stage: prepare-storage
  script:
    - 'which ss-agent || (apk update && apk add openssh)'
    - 'which rsync || (apk update && apk add rsync)'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - mkdir -p $CI_PROJECT_NAME
    - cp docker-compose.yml $CI_PROJECT_NAME
    - cp init-db.sql $CI_PROJECT_NAME
    - rsync -r $CI_PROJECT_NAME $SWARM_RUNNER_USER@$SWARM_MANAGER:/home/$SWARM_RUNNER_USER
    - ssh -tt $SWARM_RUNNER_USER@$SWARM_MANAGER "docker run --rm --network postgre_pg-net --env PGPASSWORD=P@ssw0rd -v /home/$SWARM_RUNNER_USER/$CI_PROJECT_NAME/:/etc/db/ postgres psql -h primary -U postgres maindb -f /etc/db/init-db.sql
        && exit"
  only:
    refs:
      - master
    changes:
      - init-db.sql

deploy:
  stage: deploy
  script:
    - 'which ss-agent || (apk update && apk add openssh)'
    - 'which rsync || (apk update && apk add rsync)'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - mkdir -p $CI_PROJECT_NAME
    - cp docker-compose.yml $CI_PROJECT_NAME
    - cp init-db.sql $CI_PROJECT_NAME
    - rsync -r $CI_PROJECT_NAME $SWARM_RUNNER_USER@$SWARM_MANAGER:/home/$SWARM_RUNNER_USER
    - ssh -tt $SWARM_RUNNER_USER@$SWARM_MANAGER "export SWARM_MANAGER=$SWARM_MANAGER &&
        export HYPERLOCAL_IMAGE=$HYPERLOCAL_IMAGE &&
        export RESOLVER_IMAGE=$RESOLVER_RELEASE_IMAGE &&
        export REDIS_CONNECTION=$REDIS_CONNECTION &&
        docker login -u $REGISTRY_USER -p $REGISTRY_USER_PASS $CI_REGISTRY &&
        docker stack deploy -c $CI_PROJECT_NAME/docker-compose.yml $CI_PROJECT_NAME --prune --with-registry-auth && exit"
  only:
    - master

update gitlab-ci.yml
  docker-compose.yml
Due: none

fix nuget source
  Dns.Resolver/Dockerfile
Due: build-resolver, release-resolver

fix variables
  Hyperlocal/Dockerfile
  docker-compose.yml
Due: build-hyperlocal

fix entrypoint
  .gitlab-ci.yml
Due: none

fix DI
  Dns.Resolver/Program.cs
Due: build-resolver, release-resolver

add ManualResetEventSlim
  Dns.Resolver/Program.cs
Due: build-resolver, release-resolver

update
  Dns.Library/Dns.Library.csproj
  Dns.Library/Services/RedisService.cs
  Dns.Resolver/Dns.Resolver.csproj
  Dns.Resolver/Program.cs
Due: build-resolver, release-resolver

log redis
  Dns.Library/Services/RedisService.cs
Due: none

fix gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fixit redis service
  Dns.Library/Services/RedisService.cs
Due: none

update gitlab-ci.yml
  .gitlab-ci.yml
  Dns.Library/Services/RedisService.cs
Due: none

debug resolve time
  Dns.Library/EnvVars.cs
  Dns.Library/Services/RedisService.cs
  Dns.Resolver/Services/Bootstrapper.cs
  Dns.Resolver/Services/ResolveService.cs
  docker-compose.yml
Due: none

update parallelism size
  docker-compose.yml
Due: none

Add dns analyzer service Add project for migration data from MSSQL to PGSQL
  .gitlab-ci.yml
  Dns.Analyzer/Dns.Analyzer.csproj
  Dns.Analyzer/Dockerfile
  Dns.Analyzer/Program.cs
  Dns.Analyzer/Properties/launchSettings.json
  Dns.Analyzer/Services/AttackService.cs
  Dns.Analyzer/Services/Bootstrapper.cs
  Dns.Analyzer/Services/SuspectDomainSevice.cs
  Dns.DAL.DataMigration/Dns.DAL.DataMigration.csproj
  Dns.DAL.DataMigration/MSSQL/Enums/AttackGroupStatusEnum.cs
  Dns.DAL.DataMigration/MSSQL/Enums/AttackStatusEnum.cs
  Dns.DAL.DataMigration/MSSQL/Models/AttackGroupHistories.cs
  Dns.DAL.DataMigration/MSSQL/Models/AttackGroups.cs
  Dns.DAL.DataMigration/MSSQL/Models/AttackHistories.cs
  Dns.DAL.DataMigration/MSSQL/Models/AttackNotes.cs
  Dns.DAL.DataMigration/MSSQL/Models/Attacks.cs
  Dns.DAL.DataMigration/MSSQL/Models/DomainExcludedNames.cs
  Dns.DAL.DataMigration/MSSQL/Models/DomainInfo.cs
  Dns.DAL.DataMigration/MSSQL/Models/DomainNSs.cs
  Dns.DAL.DataMigration/MSSQL/Models/IpInfo.cs
  Dns.DAL.DataMigration/MSSQL/Models/NameServers.cs
  Dns.DAL.DataMigration/MSSQL/Models/StatisticHistories.cs
  Dns.DAL.DataMigration/MSSQL/Models/SuspectDomains.cs
  Dns.DAL.DataMigration/MSSQL/Models/SuspectDomainsView.cs
  Dns.DAL.DataMigration/MSSQL/Models/WhiteDomains.cs
  Dns.DAL.DataMigration/MSSQL/MsSqlContext.cs
  Dns.DAL.DataMigration/MSSQL/_Mapping.cs
  Dns.DAL.DataMigration/MigrationHelper.cs
  Dns.DAL.DataMigration/Program.cs
  Dns.Library/Dns.Library.csproj
  Dns.Library/EnvVars.cs
  Dns.Library/Models/DnsAttackModel.cs
  Dns.Library/Services/IpInfoService.cs
  Dns.Library/Services/RedisService.cs
  Dns.Resolver/Program.cs
  Dns.Resolver/Services/Bootstrapper.cs
  DnsAnalyzer.sln
  docker-compose.yml
Due: build-resolver, release-resolver

Update README.md
  README.md
Due: none

add notification mechanism
  Dns.Analyzer/Dns.Analyzer.csproj
  Dns.Analyzer/Program.cs
  Dns.Analyzer/Services/Bootstrapper.cs
  Dns.Library/Dns.Library.csproj
  Dns.Library/EnvVars.cs
  Dns.Library/Helpers/SerializeExtensions.cs
  Dns.Library/Services/NotifyService.cs
  Dns.Library/Services/RedisService.cs
  Dns.Library/Templates/Email/dns_attack_group.html
  Dns.Library/Templates/Email/dns_attack_group_row.html
  Dns.Library/Templates/Email/dns_attack_ip.html
  Dns.Library/Templates/Email/dns_attack_ip_row.html
  Dns.Resolver/Dns.Resolver.csproj
  Dns.Resolver/Services/Bootstrapper.cs
  Dns.Site/Dns.Site.csproj
  README.md
  docker-compose.yml
Due: build-resolver, release-resolver

fix linq local evaculation query
  Dns.Analyzer/Services/AttackService.cs
Due: none

better logging IpInfoService
  Dns.Library/Services/IpInfoService.cs
Due: none

remove unnessesary ci stage
  .gitlab-ci.yml
Due: none

additional logging for ip service
  Dns.Analyzer/Program.cs
  Dns.Library/Services/IpInfoService.cs
Due: none

fix build error
  Dns.Analyzer/Program.cs
Due: none

fix NRE
  Dns.Library/Services/IpInfoService.cs
Due: none

migration site part 1
  Dns.Library/Services/IpInfoService.cs
  Dns.Site/Dns.Site.csproj
  Dns.Site/Hubs/AttackHub.cs
  Dns.Site/Models/AttackEditManyParams.cs
  Dns.Site/Models/AttackEditParams.cs
  Dns.Site/Models/AttackGroupViewModel.cs
  Dns.Site/Models/AttackInfoViewModel.cs
  Dns.Site/Models/AttackNoteParams.cs
  Dns.Site/Models/AttackStatsJson.cs
  Dns.Site/Models/AttackViewModel.cs
  Dns.Site/Models/SuspectDomainViewModel.cs
  Dns.Site/Models/WhiteDomainViewModel.cs
  Dns.Site/Services/AttackService.cs
  Dns.Site/Startup.cs
Due: none

send notify only when has changed data
  Dns.Analyzer/Services/Bootstrapper.cs
  Dns.Site/Startup.cs
Due: none

migration site part 2
  Dns.Site/Controllers/AccountController.cs
  Dns.Site/Dns.Site.csproj
  Dns.Site/Services/IUserService.cs
  Dns.Site/Services/UserService.cs
  Dns.Site/Startup.cs
  Dns.Site/Views/Home/Index.cshtml
  Dns.Site/Views/Shared/Error.cshtml
  Dns.Site/Views/Shared/_Layout.cshtml
  Dns.Site/Views/_ViewImports.cshtml
  Dns.Site/Views/_ViewStart.cshtml
  Dns.Site/appsettings.Development.json
  Dns.Site/appsettings.json
Due: none

change pg connection to main
  Dns.Resolver/Services/Bootstrapper.cs
Due: none

fix dockerfile
  Dns.Site/Dockerfile
Due: none

update dockerfile
  Dns.Site/Dockerfile
Due: none

update docker file
  .dockerignore
  Dns.Site/Dockerfile
  Dns.Site/src/main.js
  Dns.Site/src/main.js.map
  Dns.Site/src/models/calendar-model.js
  Dns.Site/src/models/calendar-model.js.map
  Dns.Site/src/models/data-table.js
  Dns.Site/src/models/data-table.js.map
  Dns.Site/src/models/date-range.js
  Dns.Site/src/models/date-range.js.map
  Dns.Site/src/models/dns-attack.js
  Dns.Site/src/models/dns-attack.js.map
  Dns.Site/src/models/local-storage.js
  Dns.Site/src/models/local-storage.js.map
  Dns.Site/src/models/reestr-record.js
  Dns.Site/src/models/reestr-record.js.map
  Dns.Site/src/models/select-model.js
  Dns.Site/src/models/select-model.js.map
  Dns.Site/src/models/store.js
  Dns.Site/src/models/store.js.map
  Dns.Site/src/models/suspect-domain.js
  Dns.Site/src/models/suspect-domain.js.map
  Dns.Site/src/models/user.js
  Dns.Site/src/models/user.js.map
  Dns.Site/src/models/v-touch-model.js
  Dns.Site/src/models/v-touch-model.js.map
  Dns.Site/src/router.js
  Dns.Site/src/router.js.map
  Dns.Site/src/utils/Utils.js
  Dns.Site/src/utils/Utils.js.map
  Dns.Site/src/utils/event-bus.js
  Dns.Site/src/utils/event-bus.js.map
  Dns.Site/src/whiteList/WhiteList.vue
  Dns.Site/src/whiteList/white-domain.js
  Dns.Site/src/whiteList/white-domain.js.map
Due: none

update gitlab-ci.yml
  .gitlab-ci.yml
  docker-compose.yml
Due: none

fix admin attribute
  Dns.Site/Controllers/AccountController.cs
  Dns.Site/Dockerfile
  Dns.Site/src/App.vue
  Dns.Site/src/home/AttackTable.vue
Due: none

filter black domains by mask. add notify text for test emails. fix build site image
  Dns.Library/Services/NotifyService.cs
  Dns.Library/Templates/Email/dns_attack_group.html
  Dns.Library/Templates/Email/dns_attack_ip.html
  Dns.Resolver/Services/Bootstrapper.cs
  Dns.Site/Dockerfile
Due: none

add error handling
  Dns.Resolver/Program.cs
Due: build-resolver, release-resolver

Add email-from variable
  Dns.Site/Program.cs
  docker-compose.yml
Due: none
