Repository dmitriyq/dnsanalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-hyperlocal-prod, build-analyzer-prod, build-resolver-blacklist-prod, build-resolver-whitelist-prod, build-site-prod, prepare-storage-prod, build-hyperlocal-dev, build-analyzer-dev, build-resolver-blacklist-dev, build-resolver-whitelist-dev, build-site-dev, prepare-storage-dev

Path conditions:
  build-hyperlocal-prod: any of: Hyperlocal/**/*
  build-analyzer-prod: any of: Dns.Resolver.Analyzer/**/*, Dns.Contracts/**/*, Dns.DAL/**/*
  build-resolver-blacklist-prod: any of: Dns.Contracts/**/*, Dns.Resolver.Blacklist/**/*
  build-resolver-whitelist-prod: any of: Dns.Contracts/**/*, Dns.Resolver.Whitelist/**/*, Dns.DAL/**/*
  build-site-prod: any of: Dns.Site/**/*, Dns.Contracts/**/*, Dns.DAL/**/*
  prepare-storage-prod: any of: init-db.sql
  build-hyperlocal-dev: any of: Hyperlocal/**/*
  build-analyzer-dev: any of: Dns.Resolver.Analyzer/**/*, Dns.Contracts/**/*, Dns.DAL/**/*
  build-resolver-blacklist-dev: any of: Dns.Contracts/**/*, Dns.Resolver.Blacklist/**/*
  build-resolver-whitelist-dev: any of: Dns.Contracts/**/*, Dns.Resolver.Whitelist/**/*, Dns.DAL/**/*
  build-site-dev: any of: Dns.Site/**/*, Dns.Contracts/**/*, Dns.DAL/**/*
  prepare-storage-dev: any of: init-db.sql

fix ef threading error https://go.microsoft.com/fwlink/?linkid=2097913 #2
  Dns.Resolver.Analyzer/Messages/AttackFoundMessageHandler.cs
  Dns.Resolver.Analyzer/Program.cs
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeService.cs
Due: build-analyzer-prod, build-analyzer-dev

fix wrong contenxt vie DI passed
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeService.cs
Due: build-analyzer-prod, build-analyzer-dev

make dbcontext pooling
  Dns.Resolver.Analyzer/Program.cs
  Dns.Site/Startup.cs
  docker-compose.yml
Due: build-analyzer-prod, build-site-prod, build-analyzer-dev, build-site-dev

fix ef dbcontext pooling configuration
  Dns.DAL/DnsDbContext.cs
  Dns.DAL/DnsReadOnlyDbContext.cs
Due: build-analyzer-prod, build-resolver-whitelist-prod, build-site-prod, build-analyzer-dev, build-resolver-whitelist-dev, build-site-dev

another fix ef threading issue
  Dns.Resolver.Analyzer/Program.cs
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeService.cs
Due: build-analyzer-prod, build-analyzer-dev

try to fix redis timeout https://stackexchange.github.io/StackExchange.Redis/Timeouts
  Dns.Resolver.Analyzer/Program.cs
  docker-compose.yml
Due: build-analyzer-prod, build-analyzer-dev

fix ef threading issues in notify service
  Dns.Contracts/Services/INotifyService.cs
  Dns.Contracts/Services/NotifyService.cs
  Dns.Resolver.Analyzer/Messages/AttackFoundMessageHandler.cs
  Dns.Resolver.Analyzer/Program.cs
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeUpdateService.cs
  Dns.Site/Controllers/AttackController.cs
  Dns.Site/Startup.cs
Due: build-analyzer-prod, build-resolver-blacklist-prod, build-resolver-whitelist-prod, build-site-prod, build-analyzer-dev, build-resolver-blacklist-dev, build-resolver-whitelist-dev, build-site-dev

fix
  Dns.Contracts/Services/NotifyService.cs
  Dns.Resolver.Analyzer/Program.cs
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeUpdateService.cs
Due: build-analyzer-prod, build-resolver-blacklist-prod, build-resolver-whitelist-prod, build-site-prod, build-analyzer-dev, build-resolver-blacklist-dev, build-resolver-whitelist-dev, build-site-dev

update analyze service deploy
  Dns.Resolver.Analyzer/Program.cs
  docker-compose.yml
Due: build-analyzer-prod, build-analyzer-dev

using new version rabbitmq service
  Dns.Resolver.Blacklist/Services/Implementation/DomainLookupService.cs
  docker-compose.yml
Due: build-resolver-blacklist-prod, build-resolver-blacklist-dev

update rabbitmq connection string
  Dns.Resolver.Analyzer/Program.cs
  docker-compose.yml
Due: build-analyzer-prod, build-analyzer-dev

Refactoring analyze service to make batch update instead single
  Dns.Contracts/Messages/AttackBatchCreatedMessage.cs
  Dns.Resolver.Analyzer/Messages/AttackBatchCreatedMessageHandler.cs
  Dns.Resolver.Analyzer/Messages/AttackFoundMessageHandler.cs
  Dns.Resolver.Analyzer/Program.cs
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeService.cs
  Dns.Resolver.Analyzer/Services/Implementation/BatchingAttackService.cs
  Dns.Resolver.Analyzer/Services/Interfaces/IAnalyzeService.cs
  Dns.Resolver.Analyzer/Services/Interfaces/IBatchingAttackService.cs
  dev.env
  docker-compose.yml
  prod.env
Due: build-analyzer-prod, build-resolver-blacklist-prod, build-resolver-whitelist-prod, build-site-prod, build-analyzer-dev, build-resolver-blacklist-dev, build-resolver-whitelist-dev, build-site-dev

add live-update on site. add suspect domain store
  Dns.Contracts/Messages/SuspectBatchCreatedMessage.cs
  Dns.Contracts/Messages/UpdatedAttackMessage.cs
  Dns.Resolver.Analyzer/Messages/AttackFoundMessageHandler.cs
  Dns.Resolver.Analyzer/Messages/SuspectBatchCreatedMessageHandler.cs
  Dns.Resolver.Analyzer/Messages/SuspectDomainFoundMessageHandler.cs
  Dns.Resolver.Analyzer/Program.cs
  Dns.Resolver.Analyzer/Services/Implementation/BatchingAttackService.cs
  Dns.Resolver.Analyzer/Services/Interfaces/IBatchingAttackService.cs
  Dns.Resolver.Blacklist/Messages/BlackDomainResolveNeededMessageHandler.cs
  Dns.Site/EventHandlers/UpdatedAttackMessageHandler.cs
  Dns.Site/Program.cs
  Dns.Site/Startup.cs
  dev.env
  prod.env
Due: build-analyzer-prod, build-resolver-blacklist-prod, build-resolver-whitelist-prod, build-site-prod, build-analyzer-dev, build-resolver-blacklist-dev, build-resolver-whitelist-dev, build-site-dev

fix batchservice wrong injection
  Dns.Resolver.Analyzer/Messages/AttackFoundMessageHandler.cs
  Dns.Resolver.Analyzer/Messages/SuspectDomainFoundMessageHandler.cs
  Dns.Resolver.Analyzer/Program.cs
  Dns.Resolver.Analyzer/Services/Implementation/BatchingSuspectService.cs
  Dns.Resolver.Analyzer/Services/Interfaces/IBatchingService.cs
Due: build-analyzer-prod, build-analyzer-dev

trying to fix duplicate entities creation + display attack history
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeService.cs
  Dns.Site/src/home/info/IpBlock.vue
Due: build-analyzer-prod, build-site-prod, build-analyzer-dev, build-site-dev

send message on update attacks
  Dns.Resolver.Analyzer/Messages/AttackBatchCreatedMessageHandler.cs
Due: build-analyzer-prod, build-analyzer-dev

fix duplacate entity creation
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeService.cs
  Dns.Resolver.Analyzer/Services/Interfaces/IAnalyzeService.cs
Due: build-analyzer-prod, build-analyzer-dev

fix duplicate entities #3
  Dns.Resolver.Analyzer/Messages/SuspectBatchCreatedMessageHandler.cs
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeService.cs
Due: build-analyzer-prod, build-analyzer-dev

fix duplate entities #4
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeService.cs
  Dns.Site/EventHandlers/UpdatedAttackMessageHandler.cs
  Dns.Site/Hubs/AttackHub.cs
  Dns.Site/src/home/Home.vue
  Dns.Site/src/home/info/IpBlock.vue
Due: build-analyzer-prod, build-site-prod, build-analyzer-dev, build-site-dev

fix laze load
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeService.cs
  Dns.Site/Controllers/AttackController.cs
  Dns.Site/Hubs/AttackHub.cs
Due: build-analyzer-prod, build-site-prod, build-analyzer-dev, build-site-dev

update packages
  Dns.Contracts/Dns.Contracts.csproj
  Dns.Contracts/Messages/SuspectBatchCreatedMessage.cs
  Dns.Resolver.Analyzer/Dns.Resolver.Analyzer.csproj
  Dns.Resolver.Analyzer/Messages/AttackFoundMessageHandler.cs
  Dns.Resolver.Analyzer/Messages/SuspectDomainFoundMessageHandler.cs
  Dns.Resolver.Analyzer/Program.cs
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeUpdateService.cs
  Dns.Resolver.Analyzer/Services/Implementation/BatchingAttackService.cs
  Dns.Resolver.Analyzer/Services/Implementation/BatchingSuspectService.cs
  Dns.Resolver.Analyzer/Services/Interfaces/IBatchingService.cs
  Dns.Resolver.Blacklist/Dns.Resolver.Blacklist.csproj
  Dns.Resolver.Whitelist/Dns.Resolver.Whitelist.csproj
  Dns.Site/Dns.Site.csproj
Due: build-analyzer-prod, build-resolver-blacklist-prod, build-resolver-whitelist-prod, build-site-prod, build-analyzer-dev, build-resolver-blacklist-dev, build-resolver-whitelist-dev, build-site-dev

fix incorrect id in update messages
  Dns.Contracts/Services/NotifyService.cs
  Dns.Contracts/Templates/Email/dns_attack_group_row.html
  Dns.Resolver.Analyzer/Program.cs
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeService.cs
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeUpdateService.cs
  Dns.Site/EventHandlers/UpdatedAttackMessageHandler.cs
  Dns.Site/Program.cs
  Dns.Site/Startup.cs
  docker-compose.yml
Due: build-analyzer-prod, build-resolver-blacklist-prod, build-resolver-whitelist-prod, build-site-prod, build-analyzer-dev, build-resolver-blacklist-dev, build-resolver-whitelist-dev, build-site-dev

fix attack last update
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeService.cs
Due: build-analyzer-prod, build-analyzer-dev

fix incorrect expire inteval
  Dns.Resolver.Analyzer/Program.cs
  docker-compose.yml
Due: build-analyzer-prod, build-analyzer-dev

fix
  Dns.Contracts/Templates/Email/dns_attack_ip_row.html
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeService.cs
  Dns.Resolver.Analyzer/Services/Interfaces/IAnalyzeService.cs
Due: build-analyzer-prod, build-resolver-blacklist-prod, build-resolver-whitelist-prod, build-site-prod, build-analyzer-dev, build-resolver-blacklist-dev, build-resolver-whitelist-dev, build-site-dev

fix suspect domain message deserialization
  Dns.Contracts/Messages/SuspectBatchCreatedMessage.cs
Due: build-analyzer-prod, build-resolver-blacklist-prod, build-resolver-whitelist-prod, build-site-prod, build-analyzer-dev, build-resolver-blacklist-dev, build-resolver-whitelist-dev, build-site-dev

fix multiply ips of suspect domains
  Dns.Resolver.Analyzer/Messages/SuspectBatchCreatedMessageHandler.cs
  Dns.Resolver.Analyzer/Services/Implementation/BatchingSuspectService.cs
Due: build-analyzer-prod, build-analyzer-dev

fix incorrect url in email links
  Dns.Contracts/Services/NotifyService.cs
Due: build-analyzer-prod, build-resolver-blacklist-prod, build-resolver-whitelist-prod, build-site-prod, build-analyzer-dev, build-resolver-blacklist-dev, build-resolver-whitelist-dev, build-site-dev

update signalr client version
  Dns.Site/npm-shrinkwrap.json
  Dns.Site/package.json
Due: build-site-prod, build-site-dev

update docs
  Docs/Overview Diagram.drawio
  Docs/Overview Diagram.png
Due: none
