Repository dmitriyq/dnsanalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-hyperlocal-prod, build-analyzer-prod, build-resolver-aggregator-prod, build-resolver-consumer-prod, build-resolver-producer-prod, build-site-prod, prepare-storage-prod, build-hyperlocal-dev, build-analyzer-dev, build-resolver-aggregator-dev, build-resolver-consumer-dev, build-resolver-producer-dev, build-site-dev, prepare-storage-dev

Path conditions:
  build-hyperlocal-prod: any of: Hyperlocal/*
  build-analyzer-prod: any of: Dns.Analyzer/**/*, Dns.Contracts/**/*, Dns.DAL/**/*
  build-resolver-aggregator-prod: any of: Dns.Contracts/**/*, Dns.Resolver.Aggregator/**/*
  build-resolver-consumer-prod: any of: Dns.Contracts/**/*, Dns.Resolver.Consumer/**/*
  build-resolver-producer-prod: any of: Dns.Contracts/**/*, Dns.DAL/**/*, Dns.Resolver.Producer/**/*
  build-site-prod: any of: Dns.Site/**/*, Dns.Contracts/**/*, Dns.DAL/**/*
  prepare-storage-prod: any of: init-db.sql
  build-hyperlocal-dev: any of: Hyperlocal/*
  build-analyzer-dev: any of: Dns.Analyzer/**/*, Dns.Contracts/**/*, Dns.DAL/**/*
  build-resolver-aggregator-dev: any of: Dns.Contracts/**/*, Dns.Resolver.Aggregator/**/*
  build-resolver-consumer-dev: any of: Dns.Contracts/**/*, Dns.Resolver.Consumer/**/*
  build-resolver-producer-dev: any of: Dns.Contracts/**/*, Dns.DAL/**/*, Dns.Resolver.Producer/**/*
  build-site-dev: any of: Dns.Site/**/*, Dns.Contracts/**/*, Dns.DAL/**/*
  prepare-storage-dev: any of: init-db.sql

update gitlab-ci.yml
  .gitlab-ci.yml
Due: none

update hyperlocal config
  DnsAnalyzer.sln
  Hyperlocal/Dockerfile
  Hyperlocal/named.conf
  Hyperlocal/named.conf.options
  Hyperlocal/rndc.conf
  Hyperlocal/rndc.key
  Hyperlocal/start.sh
Due: build-hyperlocal-prod, build-hyperlocal-dev

add knot resolver implementation
  .gitlab-ci.yml
  DnsAnalyzer.sln
  Hyperlocal/Knot/Dockerfile
  Hyperlocal/Knot/kresd.conf
Due: none

update knot resolver config
  DnsAnalyzer.sln
  Hyperlocal/Dockerfile
  Hyperlocal/Knot/Dockerfile
  Hyperlocal/kresd.conf
  Hyperlocal/named.conf
  Hyperlocal/named.conf.default-zones
  Hyperlocal/named.conf.local
  Hyperlocal/named.conf.options
  Hyperlocal/rndc.conf
  Hyperlocal/rndc.key
  Hyperlocal/start.sh
  Hyperlocal/zones.rfc1918
Due: build-hyperlocal-prod, build-hyperlocal-dev

update gitlab-ci.yml
  .gitlab-ci.yml
  Hyperlocal/Dockerfile
  dev.env
  docker-compose.yml
  prod.env
Due: build-hyperlocal-prod, build-hyperlocal-dev

update docker-compose.yml
  docker-compose.yml
Due: none

update knot resolver config
  Hyperlocal/kresd.conf
  docker-compose.yml
Due: build-hyperlocal-prod, build-hyperlocal-dev

update knot resolver dockerfile
  DnsAnalyzer.sln
  Hyperlocal/Dockerfile
  Hyperlocal/kresd.conf
Due: build-hyperlocal-prod, build-hyperlocal-dev

fix knot resolver starup
  Hyperlocal/Dockerfile
  Hyperlocal/kresd.conf
  Hyperlocal/start.sh
  docker-compose.yml
Due: build-hyperlocal-prod, build-hyperlocal-dev

fix gitlab-ci.yml
  .gitlab-ci.yml
  Hyperlocal/Dockerfile
Due: build-hyperlocal-prod, build-hyperlocal-dev

addition logging for domain resolve errors
  Dns.Resolver.Consumer/Services/DomainLookupService.cs
Due: build-resolver-consumer-prod, build-resolver-consumer-dev

disable additional logging on resolve domains in consumer service
  Dns.Resolver.Aggregator/Messages/DomainResolvedMessageHandler.cs
  Dns.Resolver.Consumer/Messages/DomainPublishMessageHandler.cs
  Dns.Resolver.Consumer/Services/DomainLookupService.cs
  Dns.Resolver.Consumer/Services/IDomainLookupService.cs
  docker-compose.yml
Due: build-resolver-aggregator-prod, build-resolver-consumer-prod, build-resolver-aggregator-dev, build-resolver-consumer-dev

remove logging for No matching records error
  Dns.Resolver.Consumer/Services/DomainLookupService.cs
Due: build-resolver-consumer-prod, build-resolver-consumer-dev

little refactoring code
  Dns.Resolver.Consumer/Services/DomainLookupService.cs
  Hyperlocal/kresd.conf
  docker-compose.yml
Due: build-hyperlocal-prod, build-resolver-consumer-prod, build-hyperlocal-dev, build-resolver-consumer-dev

update docker compose.yml
  docker-compose.yml
Due: none

impowing service lifetime
  Dns.Resolver.Aggregator/Messages/DomainResolvedMessageHandler.cs
  Dns.Resolver.Aggregator/Services/DomainAggregatorService.cs
  Dns.Resolver.Producer/Services/PublishWorker.cs
  docker-compose.yml
Due: build-resolver-aggregator-prod, build-resolver-producer-prod, build-resolver-aggregator-dev, build-resolver-producer-dev

refactoring consumer message handling
  Dns.Resolver.Consumer/Messages/DomainPublishMessageHandler.cs
  Dns.Resolver.Consumer/Services/DomainLookupService.cs
  docker-compose.yml
Due: build-resolver-consumer-prod, build-resolver-consumer-dev

trying make resolve more stable
  Dns.Resolver.Consumer/Services/DomainLookupService.cs
  docker-compose.yml
Due: build-resolver-consumer-prod, build-resolver-consumer-dev

trying make resolve more stable 2
  Dns.Resolver.Consumer/Services/DomainLookupService.cs
  docker-compose.yml
Due: build-resolver-consumer-prod, build-resolver-consumer-dev

trying make resolve more stable 3
  Dns.Resolver.Consumer/Services/DomainLookupService.cs
  docker-compose.yml
Due: build-resolver-consumer-prod, build-resolver-consumer-dev

trying make resolve more stable 4
  Dns.Resolver.Consumer/Services/DomainLookupService.cs
  docker-compose.yml
Due: build-resolver-consumer-prod, build-resolver-consumer-dev

trying make resolve more stable 5
  Dns.Contracts/Messages/DomainResolvedMessage.cs
  Dns.Contracts/Messages/DomainUnresolvedMessage.cs
  Dns.Contracts/Messages/ITraceable.cs
  Dns.Resolver.Aggregator/Messages/DomainResolvedMessageHandler.cs
  Dns.Resolver.Aggregator/Models/DomainQueueCollection.cs
  Dns.Resolver.Aggregator/Program.cs
  Dns.Resolver.Aggregator/Services/DomainAggregatorService.cs
  Dns.Resolver.Aggregator/Services/IDomainAggregatorService.cs
  Dns.Resolver.Consumer/Messages/DomainPublishMessageHandler.cs
  Dns.Resolver.Consumer/Services/DomainLookupService.cs
  dev.env
  docker-compose.yml
  prod.env
Due: build-analyzer-prod, build-resolver-aggregator-prod, build-resolver-consumer-prod, build-resolver-producer-prod, build-site-prod, build-analyzer-dev, build-resolver-aggregator-dev, build-resolver-consumer-dev, build-resolver-producer-dev, build-site-dev

trying make resolve more stable 6
  Dns.Resolver.Aggregator/Messages/DomainUnresolvedMessageHandler.cs
  Dns.Resolver.Aggregator/Program.cs
  Dns.Resolver.Consumer/Services/DomainLookupService.cs
  docker-compose.yml
Due: build-resolver-aggregator-prod, build-resolver-consumer-prod, build-resolver-aggregator-dev, build-resolver-consumer-dev

added missing dockerfile's
  .gitlab-ci.yml
  Dns.Resolver.Analyzer/Dockerfile
  Dns.Resolver.Blacklist/Dockerfile
  Dns.Resolver.Whitelist/Dockerfile
Due: none

fix gitlab-ci.yml add registration memorychache in DI to blacklist service
  .gitlab-ci.yml
  Dns.Resolver.Blacklist/Program.cs
Due: none

fix NRE in whitelist caches
  Dns.Resolver.Blacklist/Messages/BlackDomainResolveNeededMessageHandler.cs
  Dns.Resolver.Blacklist/Services/Implementation/CacheService.cs
Due: none

fix NRE in linq methods
  .gitlab-ci.yml
  Dns.Resolver.Analyzer/Services/Implementation/AnalyzeService.cs
  Dns.Site/Program.cs
  Dns.Site/Startup.cs
  docker-compose.yml
Due: build-site-prod, build-site-dev

copy email templates to app dir
  .gitlab-ci.yml
  Dns.Contracts/Dns.Contracts.csproj
Due: build-analyzer-prod, build-resolver-aggregator-prod, build-resolver-consumer-prod, build-resolver-producer-prod, build-site-prod, build-analyzer-dev, build-resolver-aggregator-dev, build-resolver-consumer-dev, build-resolver-producer-dev, build-site-dev

migrate to vuetify 2 complete
  Dns.Site/src/app.scss
  Dns.Site/src/domainCheck/DomainCheck.vue
  Dns.Site/src/models/attack-table-filters.ts
  Dns.Site/src/models/calendar-model.ts
  Dns.Site/src/models/date-range.ts
  Dns.Site/src/models/dns-attack.ts
  Dns.Site/src/models/health-status.ts
  Dns.Site/src/models/reestr-record.ts
  Dns.Site/src/models/suspect-domain.ts
  Dns.Site/src/shims-tsx.d.ts
  Dns.Site/src/stats/StatCalendar.vue
  Dns.Site/src/stats/Stats.vue
  Dns.Site/wwwroot/fonts/fontawesome-webfont.674f50d2.eot
  Dns.Site/wwwroot/fonts/fontawesome-webfont.af7ae505.woff2
  Dns.Site/wwwroot/fonts/fontawesome-webfont.b06871f2.ttf
  Dns.Site/wwwroot/fonts/fontawesome-webfont.fee66e71.woff
  Dns.Site/wwwroot/img/fontawesome-webfont.912ec66d.svg
Due: build-site-prod, build-site-dev

update rabbitmq connection to use credentials
  .gitlab-ci.yml
  Dns.Resolver.Analyzer/Messages/AttackFoundMessageHandler.cs
  Dns.Resolver.Analyzer/Program.cs
  Dns.Site/Startup.cs
  docker-compose.yml
Due: build-site-prod, build-site-dev

fix efcore dbcontext threading issues https://docs.microsoft.com/ru-ru/ef/core/miscellaneous/configuring-dbcontext#avoiding-dbcontext-threading-issues
  Dns.Resolver.Analyzer/Program.cs
  Dns.Site/Dockerfile
  Dns.Site/Startup.cs
Due: build-site-prod, build-site-dev
