Repository dmitriyq/dnsanalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-hyperlocal, build-resolver, build-analyzer, prepare-storage

.gitlab-ci.yml:

image: docker:stable
services:
  - docker:dind

stages:
  - build
  - prepare-storage
  - deploy

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2

  HYPERLOCAL_IMAGE: $CI_REGISTRY_IMAGE/hyperlocal:latest
  RESOLVER_IMAGE: $CI_REGISTRY_IMAGE/resolver:latest
  ANALYZER_IMAGE: $CI_REGISTRY_IMAGE/analyzer:latest

before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_USER_PASS $CI_REGISTRY

build-hyperlocal:
  stage: build
  script:
    - chmod +x Hyperlocal/start.sh
    - docker build --pull -t $HYPERLOCAL_IMAGE -f Hyperlocal/Dockerfile .
    - docker tag $HYPERLOCAL_IMAGE $HYPERLOCAL_IMAGE
    - docker push $HYPERLOCAL_IMAGE
  only:
    refs:
      - master
    changes:
      - Hyperlocal/*

build-resolver:
  stage: build
  script:
    - docker build --pull -t $RESOLVER_IMAGE -f Dns.Resolver/Dockerfile .
    - docker push $RESOLVER_IMAGE
  only:
    refs:
      - master
    changes:
      - Dns.Resolver/**/*
      - Dns.Library/**/*
      - Dns.DAL/**/*

build-analyzer:
  stage: build
  script:
    - docker build --pull -t $ANALYZER_IMAGE -f Dns.Analyzer/Dockerfile .
    - docker push $ANALYZER_IMAGE
  only:
    refs:
      - master
    changes:
      - Dns.Analyzer/**/*
      - Dns.Library/**/*
      - Dns.DAL/**/*

prepare-storage:
  stage: prepare-storage
  script:
    - 'which ss-agent || (apk update && apk add openssh)'
    - 'which rsync || (apk update && apk add rsync)'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - mkdir -p $CI_PROJECT_NAME
    - cp docker-compose.yml $CI_PROJECT_NAME
    - cp init-db.sql $CI_PROJECT_NAME
    - rsync -r $CI_PROJECT_NAME $SWARM_RUNNER_USER@$SWARM_MANAGER:/home/$SWARM_RUNNER_USER
    - ssh -tt $SWARM_RUNNER_USER@$SWARM_MANAGER "docker run --rm --network postgre_pg-net --env PGPASSWORD=P@ssw0rd -v /home/$SWARM_RUNNER_USER/$CI_PROJECT_NAME/:/etc/db/ postgres psql -h primary -U postgres maindb -f /etc/db/init-db.sql
        && exit"
  only:
    refs:
      - master
    changes:
      - init-db.sql

deploy:
  stage: deploy
  script:
    - 'which ss-agent || (apk update && apk add openssh)'
    - 'which rsync || (apk update && apk add rsync)'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - mkdir -p $CI_PROJECT_NAME
    - cp docker-compose.yml $CI_PROJECT_NAME
    - cp init-db.sql $CI_PROJECT_NAME
    - rsync -r $CI_PROJECT_NAME $SWARM_RUNNER_USER@$SWARM_MANAGER:/home/$SWARM_RUNNER_USER
    - ssh -tt $SWARM_RUNNER_USER@$SWARM_MANAGER "export SWARM_MANAGER=$SWARM_MANAGER &&
        export HYPERLOCAL_IMAGE=$HYPERLOCAL_IMAGE &&
        export RESOLVER_IMAGE=$RESOLVER_RELEASE_IMAGE &&
        export REDIS_CONNECTION=$REDIS_CONNECTION &&
        export ANALYZER_IMAGE=$ANALYZER_RELEASE_IMAGE &&
        docker login -u $REGISTRY_USER -p $REGISTRY_USER_PASS $CI_REGISTRY &&
        docker stack deploy -c $CI_PROJECT_NAME/docker-compose.yml $CI_PROJECT_NAME --prune --with-registry-auth && exit"
  only:
    - master

add dns.publisher add dns.subsciber
  Dns.Analyzer/Dns.Analyzer.csproj
  Dns.Library/Dns.Library.csproj
  Dns.Library/EnvVars.cs
  Dns.Resolver.Publisher/Dns.Resolver.Publisher.csproj
  Dns.Resolver.Publisher/Dockerfile
  Dns.Resolver.Publisher/Events/DomainPublisherEvent.cs
  Dns.Resolver.Publisher/Program.cs
  Dns.Resolver.Publisher/Properties/launchSettings.json
  Dns.Resolver.Publisher/Services/DomainService.cs
  Dns.Resolver.Publisher/Services/IDomainService.cs
  Dns.Resolver.Publisher/Services/PublishWorker.cs
  Dns.Resolver.Subscriber/Dns.Resolver.Subscriber.csproj
  Dns.Resolver.Subscriber/Dockerfile
  Dns.Resolver.Subscriber/Events/DomainPublisherEvent.cs
  Dns.Resolver.Subscriber/Events/DomainPublisherEventHandler.cs
  Dns.Resolver.Subscriber/Events/DomainResolveCompleteEvent.cs
  Dns.Resolver.Subscriber/Program.cs
  Dns.Resolver.Subscriber/Properties/launchSettings.json
  Dns.Resolver.Subscriber/Services/DomainLookupService.cs
  Dns.Resolver.Subscriber/Services/IDomainLookupService.cs
  Dns.Resolver/Dns.Resolver.csproj
  Dns.Resolver/Program.cs
  Dns.Resolver/Services/Bootstrapper.cs
  Dns.Resolver/Services/ResolveService.cs
  Dns.Site/Dns.Site.csproj
  DnsAnalyzer.sln
  Hyperlocal/named.conf.options
  Hyperlocal/start.sh
Due: build-hyperlocal, build-resolver, build-analyzer

complete agregator service
  Dns.Analyzer/Dns.Analyzer.csproj
  Dns.Analyzer/EventHandlers/AnalyzeStartingEventHandler.cs
  Dns.Analyzer/Models/AttackModel.cs
  Dns.Analyzer/Program.cs
  Dns.Analyzer/Services/AnalyzeService.cs
  Dns.Analyzer/Services/IAnalyzeService.cs
  Dns.Resolver.Aggregator/Dns.Resolver.Aggregator.csproj
  Dns.Resolver.Aggregator/Messages/DomainResolvedMessageHandler.cs
  Dns.Resolver.Aggregator/Models/DomainQueueCollection.cs
  Dns.Resolver.Aggregator/Program.cs
  Dns.Resolver.Aggregator/Services/DomainAggregatorService.cs
  Dns.Resolver.Aggregator/Services/IDomainAggregatorService.cs
  Dns.Resolver.Consumer/Messages/DomainPublishMessageHandler.cs
Due: build-analyzer

completed communication via rabbitmq feature
  .gitlab-ci.yml
  Dns.Analyzer/EventHandlers/AnalyzeStartingEventHandler.cs
  Dns.Analyzer/Program.cs
  Dns.Contracts/Events/DnsAnalyzerHealthCheckEvent.cs
  Dns.Resolver.Aggregator/Messages/DomainResolvedMessageHandler.cs
  Dns.Resolver.Aggregator/Services/DomainAggregatorService.cs
  Dns.Resolver.Producer/Services/PublishWorker.cs
  Dns.Site/Dns.Site.csproj
  Dns.Site/EventHandlers/DnsAnalyzerHealthCheckEventHandler.cs
  Dns.Site/Hubs/HealthCheckHub.cs
  Dns.Site/Program.cs
  Dns.Site/Startup.cs
  Dns.Site/src/App.vue
  Dns.Site/src/healthCheck/HealthCheck.vue
  Dns.Site/src/router.ts
  docker-compose.yml
Due: build-analyzer

fix docker image name
  .gitlab-ci.yml
Due: none

fix gitlab-ci.yml
  docker-compose.yml
Due: none

update dns forwarder list
  Dns.Resolver.Consumer/Services/DomainLookupService.cs
  Hyperlocal/named.conf.options
Due: build-hyperlocal

fix hyperlocal dns config
  Hyperlocal/named.conf
  Hyperlocal/named.conf.options
Due: build-hyperlocal

fix queueNames
  Dns.Resolver.Aggregator/Program.cs
  Dns.Resolver.Consumer/Program.cs
  Dns.Resolver.Producer/Program.cs
  Dns.Resolver.Producer/Services/PublishWorker.cs
  docker-compose.yml
Due: none

fix trace identifier passing
  Dns.Resolver.Aggregator/Messages/DomainResolvedMessageHandler.cs
  Dns.Resolver.Aggregator/Models/DomainQueueCollection.cs
Due: none

fix nuget packages
  Dns.Analyzer/Dns.Analyzer.csproj
  Dns.Contracts/Dns.Contracts.csproj
  Dns.Resolver.Aggregator/Dns.Resolver.Aggregator.csproj
  Dns.Resolver.Consumer/Dns.Resolver.Consumer.csproj
  Dns.Resolver.Producer/Dns.Resolver.Producer.csproj
  Dns.Site/Dns.Site.csproj
Due: build-analyzer

fix error
  Dns.Site/Startup.cs
Due: none

replace event with message to healthchecks
  Dns.Analyzer/EventHandlers/AnalyzeNeededMessageHandler.cs
  Dns.Analyzer/Program.cs
  Dns.Contracts/Events/AnalyzeStartingEvent.cs
  Dns.Contracts/Events/DnsAnalyzerHealthCheckEvent.cs
  Dns.Contracts/Messages/AnalyzeNeededMessage.cs
  Dns.Contracts/Messages/DnsAnalyzerHealthCheckMessage.cs
  Dns.Resolver.Aggregator/Models/DomainQueueCollection.cs
  Dns.Resolver.Aggregator/Program.cs
  Dns.Resolver.Aggregator/Services/DomainAggregatorService.cs
  Dns.Resolver.Aggregator/Services/IDomainAggregatorService.cs
  Dns.Resolver.Producer/Program.cs
  Dns.Resolver.Producer/Services/PublishWorker.cs
  Dns.Site/EventHandlers/DnsAnalyzerHealthCheckEventHandler.cs
  Dns.Site/EventHandlers/DnsAnalyzerHealthCheckMessageHandler.cs
  Dns.Site/Program.cs
  Dns.Site/Startup.cs
  docker-compose.yml
Due: build-analyzer

update replicas in docker-compose.yml
  Dns.Resolver.Producer/Services/PublishWorker.cs
  docker-compose.yml
Due: none

update producer sending limit
  Dns.Resolver.Producer/Program.cs
  Dns.Resolver.Producer/Services/PublishWorker.cs
  docker-compose.yml
Due: none

some refactring services lifetime
  Dns.Analyzer/Program.cs
  Dns.Analyzer/Services/AnalyzeService.cs
  Dns.Resolver.Aggregator/Program.cs
  Dns.Resolver.Consumer/Program.cs
  Dns.Resolver.Producer/Program.cs
  Dns.Resolver.Producer/Services/DomainService.cs
  Dns.Resolver.Producer/Services/PublishWorker.cs
Due: build-analyzer

update gitlab-ci.yml
  .gitlab-ci.yml
Due: none

update nuget packages
  Dns.Analyzer/Dns.Analyzer.csproj
  Dns.Contracts/Dns.Contracts.csproj
  Dns.Resolver.Aggregator/Dns.Resolver.Aggregator.csproj
  Dns.Resolver.Consumer/Dns.Resolver.Consumer.csproj
  Dns.Resolver.Producer/Dns.Resolver.Producer.csproj
  Dns.Site/Dns.Site.csproj
  docker-compose.yml
Due: build-analyzer

fix
  Dns.Resolver.Aggregator/Messages/DomainResolvedMessageHandler.cs
  Dns.Resolver.Aggregator/Services/DomainAggregatorService.cs
  Dns.Resolver.Consumer/Messages/DomainPublishMessageHandler.cs
  docker-compose.yml
Due: none
