Repository dmitriyq/dnsanalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-hyperlocal, build-analyzer, build-resolver-aggregator, build-resolver-consumer, build-resolver-producer, build-site, prepare-storage

build-hyperlocal:
  stage: build
  script:
  - chmod +x Hyperlocal/start.sh
  - docker build --pull -t $HYPERLOCAL_IMAGE -f Hyperlocal/Dockerfile .
  - docker tag $HYPERLOCAL_IMAGE $HYPERLOCAL_IMAGE
  - docker push $HYPERLOCAL_IMAGE
  tags:
  - build

build-analyzer:
  stage: build
  script:
  - docker build --pull -t $ANALYZER_IMAGE -f Dns.Analyzer/Dockerfile .
  - docker push $ANALYZER_IMAGE
  tags:
  - build

build-resolver-aggregator:
  stage: build
  script:
  - docker build --pull -t $RESOLVER_AGGREGATOR_IMAGE -f Dns.Resolver.Aggregator/Dockerfile .
  - docker push $RESOLVER_AGGREGATOR_IMAGE
  tags:
  - build

build-resolver-consumer:
  stage: build
  script:
  - docker build --pull -t $RESOLVER_CONSUMER_IMAGE -f Dns.Resolver.Consumer/Dockerfile .
  - docker push $RESOLVER_CONSUMER_IMAGE
  tags:
  - build

build-resolver-producer:
  stage: build
  script:
  - docker build --pull -t $RESOLVER_PRODUCER_IMAGE -f Dns.Resolver.Producer/Dockerfile .
  - docker push $RESOLVER_PRODUCER_IMAGE
  tags:
  - build

build-site:
  stage: build
  script:
  - docker build --pull -t $SITE_IMAGE -f Dns.Site/Dockerfile .
  - docker push $SITE_IMAGE
  tags:
  - build

prepare-storage:
  stage: prepare-storage
  script:
  - which ss-agent || (apk update && apk add openssh)
  - which rsync || (apk update && apk add rsync)
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
  ...

update replicas in docker-compose.yml
  Dns.Resolver.Producer/Services/PublishWorker.cs
  docker-compose.yml
Due: build-resolver-producer

fix error
  Dns.Site/Startup.cs
Due: build-site

fix queueNames
  Dns.Resolver.Aggregator/Program.cs
  Dns.Resolver.Consumer/Program.cs
  Dns.Resolver.Producer/Program.cs
  Dns.Resolver.Producer/Services/PublishWorker.cs
  docker-compose.yml
Due: build-resolver-aggregator, build-resolver-consumer, build-resolver-producer

fix nuget packages
  Dns.Analyzer/Dns.Analyzer.csproj
  Dns.Contracts/Dns.Contracts.csproj
  Dns.Resolver.Aggregator/Dns.Resolver.Aggregator.csproj
  Dns.Resolver.Consumer/Dns.Resolver.Consumer.csproj
  Dns.Resolver.Producer/Dns.Resolver.Producer.csproj
  Dns.Site/Dns.Site.csproj
Due: build-analyzer, build-resolver-aggregator, build-resolver-consumer, build-resolver-producer, build-site

replace event with message to healthchecks
  Dns.Analyzer/EventHandlers/AnalyzeNeededMessageHandler.cs
  Dns.Analyzer/Program.cs
  Dns.Contracts/Events/AnalyzeStartingEvent.cs
  Dns.Contracts/Events/DnsAnalyzerHealthCheckEvent.cs
  Dns.Contracts/Messages/AnalyzeNeededMessage.cs
  Dns.Contracts/Messages/DnsAnalyzerHealthCheckMessage.cs
  Dns.Resolver.Aggregator/Models/DomainQueueCollection.cs
  Dns.Resolver.Aggregator/Program.cs
  Dns.Resolver.Aggregator/Services/DomainAggregatorService.cs
  Dns.Resolver.Aggregator/Services/IDomainAggregatorService.cs
  Dns.Resolver.Producer/Program.cs
  Dns.Resolver.Producer/Services/PublishWorker.cs
  Dns.Site/EventHandlers/DnsAnalyzerHealthCheckEventHandler.cs
  Dns.Site/EventHandlers/DnsAnalyzerHealthCheckMessageHandler.cs
  Dns.Site/Program.cs
  Dns.Site/Startup.cs
  docker-compose.yml
Due: build-analyzer, build-resolver-aggregator, build-resolver-consumer, build-resolver-producer, build-site

some refactring services lifetime
  Dns.Analyzer/Program.cs
  Dns.Analyzer/Services/AnalyzeService.cs
  Dns.Resolver.Aggregator/Program.cs
  Dns.Resolver.Consumer/Program.cs
  Dns.Resolver.Producer/Program.cs
  Dns.Resolver.Producer/Services/DomainService.cs
  Dns.Resolver.Producer/Services/PublishWorker.cs
Due: build-analyzer, build-resolver-aggregator, build-resolver-consumer, build-resolver-producer

fix docker image name
  .gitlab-ci.yml
Due: none

fix
  Dns.Resolver.Aggregator/Messages/DomainResolvedMessageHandler.cs
  Dns.Resolver.Aggregator/Services/DomainAggregatorService.cs
  Dns.Resolver.Consumer/Messages/DomainPublishMessageHandler.cs
  docker-compose.yml
Due: build-resolver-aggregator, build-resolver-consumer

update nuget packages
  Dns.Analyzer/Dns.Analyzer.csproj
  Dns.Contracts/Dns.Contracts.csproj
  Dns.Resolver.Aggregator/Dns.Resolver.Aggregator.csproj
  Dns.Resolver.Consumer/Dns.Resolver.Consumer.csproj
  Dns.Resolver.Producer/Dns.Resolver.Producer.csproj
  Dns.Site/Dns.Site.csproj
  docker-compose.yml
Due: build-analyzer, build-resolver-aggregator, build-resolver-consumer, build-resolver-producer, build-site

update gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fix
  Dns.Resolver.Aggregator/Messages/DomainResolvedMessageHandler.cs
  Dns.Resolver.Consumer/Messages/DomainPublishMessageHandler.cs
Due: build-resolver-aggregator, build-resolver-consumer

update nuget packages
  Dns.Analyzer/Dns.Analyzer.csproj
  Dns.Resolver.Aggregator/Dns.Resolver.Aggregator.csproj
Due: build-analyzer, build-resolver-aggregator

detect invalid records and removing them
  Dns.Analyzer/Services/AnalyzeService.cs
Due: build-analyzer

add development integration
  .gitlab-ci.yml
  docker-compose.yml
  init-db.sql
Due: prepare-storage

remove host port forwarding to services
  docker-compose.yml
Due: none

testing easyNetMQ
  .gitlab-ci.yml
  Dns.Analyzer/Dns.Analyzer.csproj
  Dns.Analyzer/EventHandlers/AnalyzeNeededMessageHandler.cs
  Dns.Analyzer/Program.cs
  Dns.Contracts/Dns.Contracts.csproj
  Dns.Contracts/Messages/AnalyzeNeededMessage.cs
  Dns.Contracts/Messages/DnsAnalyzerHealthCheckMessage.cs
  Dns.Contracts/Messages/DomainPublishMessage.cs
  Dns.Contracts/Messages/DomainResolvedMessage.cs
  Dns.Resolver.Aggregator/Dns.Resolver.Aggregator.csproj
  Dns.Resolver.Aggregator/Messages/DomainResolvedMessageHandler.cs
  Dns.Resolver.Aggregator/Program.cs
  Dns.Resolver.Aggregator/Services/DomainAggregatorService.cs
  Dns.Resolver.Consumer/Dns.Resolver.Consumer.csproj
  Dns.Resolver.Consumer/Messages/DomainPublishMessageHandler.cs
  Dns.Resolver.Consumer/Program.cs
  Dns.Resolver.Producer/Dns.Resolver.Producer.csproj
  Dns.Resolver.Producer/Program.cs
  Dns.Resolver.Producer/Services/PublishWorker.cs
  Dns.Site/Dns.Site.csproj
  Dns.Site/EventHandlers/DnsAnalyzerHealthCheckMessageHandler.cs
  Dns.Site/Startup.cs
  DnsAnalyzer.sln
  Hyperlocal/start.sh
  dev.env
  docker-compose.yml
  init-db.sql
  prod.env
Due: build-hyperlocal, build-analyzer, build-resolver-aggregator, build-resolver-consumer, build-resolver-producer, build-site, prepare-storage

fix deploy db script
  .gitlab-ci.yml
  dev.env
  init-db.sql
  prod.env
Due: prepare-storage

update init-db.sql
  init-db.sql
Due: prepare-storage

update gitlab-ci.yml
  .gitlab-ci.yml
  init-db.sql
Due: prepare-storage

update to net core 3.0
  Dns.Analyzer/Dns.Analyzer.csproj
  Dns.Analyzer/Dockerfile
  Dns.Contracts/Dns.Contracts.csproj
  Dns.DAL.DataMigration/Dns.DAL.DataMigration.csproj
  Dns.DAL.DataMigration/MSSQL/MsSqlContext.cs
  Dns.DAL/Dns.DAL.csproj
  Dns.Resolver.Aggregator/Dns.Resolver.Aggregator.csproj
  Dns.Resolver.Aggregator/Dockerfile
  Dns.Resolver.Consumer/Dns.Resolver.Consumer.csproj
  Dns.Resolver.Consumer/Dockerfile
  Dns.Resolver.Consumer/Program.cs
  Dns.Resolver.Consumer/Services/DomainLookupService.cs
  Dns.Resolver.Producer/Dns.Resolver.Producer.csproj
  Dns.Resolver.Producer/Dockerfile
  Dns.Resolver.Producer/Program.cs
  Dns.Resolver.Producer/Services/PublishWorker.cs
  Dns.Site/Dns.Site.csproj
  Dns.Site/Program.cs
  dev.env
  docker-compose.dev.yml
  docker-compose.yml
  prod.env
Due: build-analyzer, build-resolver-aggregator, build-resolver-consumer, build-resolver-producer, build-site

update bootstraping for console services
  Dns.Analyzer/Dns.Analyzer.csproj
  Dns.Analyzer/Program.cs
  Dns.Contracts/Dns.Contracts.csproj
  Dns.Resolver.Aggregator/.editorconfig
  Dns.Resolver.Aggregator/Dns.Resolver.Aggregator.csproj
  Dns.Resolver.Aggregator/Program.cs
  Dns.Resolver.Aggregator/Services/DomainAggregatorService.cs
  Dns.Resolver.Consumer/Dns.Resolver.Consumer.csproj
  Dns.Resolver.Consumer/Program.cs
  Dns.Resolver.Producer/Dns.Resolver.Producer.csproj
  Dns.Resolver.Producer/Program.cs
  Dns.Site/Dns.Site.csproj
  docker-compose.yml
Due: build-analyzer, build-resolver-aggregator, build-resolver-consumer, build-resolver-producer, build-site

Path conditions:
  build-hyperlocal: any of: Hyperlocal/*
  build-analyzer: any of: Dns.Analyzer/**/*, Dns.Contracts/**/*, Dns.DAL/**/*
  build-resolver-aggregator: any of: Dns.Contracts/**/*, Dns.Resolver.Aggregator/**/*
  build-resolver-consumer: any of: Dns.Contracts/**/*, Dns.Resolver.Consumer/**/*
  build-resolver-producer: any of: Dns.Contracts/**/*, Dns.DAL/**/*, Dns.Resolver.Producer/**/*
  build-site: any of: Dns.Site/**/*, Dns.Contracts/**/*, Dns.DAL/**/*
  prepare-storage: any of: init-db.sql
